/* src/components/ChartComponent.css */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgba(112, 112, 182, 0.866),white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Adjust as needed */
    width: 90%;
    max-width: 1200px;
    margin: 50px auto; /* Center the container */
    
  }
  
  .chart-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .chart-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Space between charts */
  }
  .dashboard{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 570px;
  }
  
  